<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ray.userCenter.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.ray.userCenter.entity.UserInfoEntity">
        <id column="id" property="userId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="crete_time" property="creteTime" jdbcType="BIGINT"/>
        <result column="crate_userId" property="crateUserId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="tableName">
        base_user_userInfo
    </sql>

    <select id="queryUserInfoByUserId" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        <include refid="tableName"/>
        <where>
            <if test="userId!=null">
                AND id=${userId}
            </if>
        </where>
    </select>

    <select id="queryUserInfoByUserId" resultMap="BaseResultMap">
        SELECT
        user_id,
        group_id,
        user_name,
        pass_word,
        mobile,
        email,
        crete_time,
        crate_userId
        FROM
        <include refid="tableName"/>
        <where>
            <if test="userId!=null">
                AND id=${userId}
            </if>
            <if test="groupId!=null">
                AND group_id=${groupId}
            </if>
            <if test="userName!=null">
              AND user_name=${userName}
            </if>
            <if test="mobile!=null">
              AND mobile=${mobile}
            </if>
            <if test="email!=null">
              AND email=${email}
            </if>
            <if test="account!=null">
                AND account=${account}
            </if>
        </where>
    </select>

    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userinfo.groupId !=null">
                group_id,
            </if>
            <if test="userinfo.userName !=null and userinfo.userName!=''">
                user_name,
            </if>
            <if test="userinfo.passWord !=null and userinfo.passWord != ''">
                pass_word,
            </if>
            <if test="userinfo.mobile !=null and userinfo.mobile!=''">
                mobile,
            </if>
            <if test="userinfo.email !=null and userinfo.email != ''">
                email,
            </if>
            <if test="userinfo.creteTime !=null and userinfo.creteTime != ''">
                crete_time,
            </if>
            <if test="userinfo.crateUserId !=null">
                crate_userId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userinfo.groupId !=null">
                #{userinfo.groupId},
            </if>
            <if test="userinfo.userName !=null and userinfo.userName!=''">
                #{userinfo.userName},
            </if>
            <if test="userinfo.passWord !=null and userinfo.passWord != ''">
                #{userinfo.passWord},
            </if>
            <if test="userinfo.mobile !=null and userinfo.mobile!=''">
                #{userinfo.mobile},
            </if>
            <if test="userinfo.email !=null and userinfo.email != ''">
                #{userinfo.email},
            </if>
            <if test="userinfo.creteTime !=null and userinfo.creteTime != ''">
                #{userinfo.creteTime},
            </if>
            <if test="userinfo.crateUserId !=null">
                #{userinfo.crateUserId},
            </if>
        </trim>
    </insert>

    <insert id="bacthInsertUserInfo">
        <include refid="tableName"/>
                group_id,
                userName,
                passWord,
                mobile,
                email,
                crete_time,
                crate_userId
           VALUE (
        <foreach collection="userInfoList" item="userInfo" separator="),(">
            #{userinfo.groupId},
            #{userinfo.userName},
            #{userinfo.passWord},
            #{userinfo.mobile},
            #{userinfo.email},
            #{userinfo.creteTime},
            #{userinfo.crateUserId}
        </foreach>
        )
    </insert>


</mapper>